POSTGRES_DB=mymail
POSTGRES_USER=mymail
POSTGRES_PASSWORD=change_me

DB_USERNAME=mymail
DB_PASSWORD=change_me

AUTH0_DOMAIN=your_auth0_domain
AUTH0_API_IDENTIFIER=your_api_identifier

RESEND_API_KEY=your_resend_api_key
